html {
  background-color: #239c56;
  height: 100%;
}
.main { 
  display: flex;
}
    .moves-criteria,
    .type-criteria,
    .abilities-criteria {
      margin: 3em;
    }
    .moves-criteria > h5 {
      text-align: center;
    }
    .btn {
      margin: 3em 0 -2em 5em;
      width: 6em;
      height: 3em;
    }
    
  .right-side-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
    .group-container {
      display: flex;
      justify-content: center;
      background-color: #ecf0f1
    }
      .btn-container {
        margin: 2em;
        align-self: center;
      }
      .circle-btn {
        background-color: #34495e;
        color: white;
        margin: auto;
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 6px 0;
        font-size: 1.9em;
        line-height: 1.42;
        border-radius: 30px;
      }
      .circle-btn:hover {
        cursor: pointer;
        background-color: #e67e22;
        transition: background-color .4s;
      }
    .pokemon-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      background-color: #239c56;
    }
      .pokemon-container > h3 {
        color: white;
      }
      .thumbnail {
        width: 20em;
        margin: 2em;
        text-align: center;
        background-color: white;
        transition: background-color .8s;
        box-shadow: 3px 3px 9px #000000;
        max-height: 24em;
      }
      .thumbnail:hover {
        background-color: #ecf0f1;
        transition: background-color .8s;
      }
      .card-subtitle {
        font-size: 0.9em;
      }

/*--------Loader css-------*/
.spinner {
  margin: 100px auto 0;
  width: 300px;
  text-align: center;
  display: none;
  color: white;
}

.is-loading{
  display: block;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 255, 255);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#dropdown {
  width: 7em;
  margin: 1em -1em;
}
/*------------------------Burger menu----------------------------*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #34495e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 34px;
  width: 34px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  height: auto;
  background: #2c3e50;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}